Ejercicio 1

In [1]:
import numpy as np
Np_100_elementos = np.random.randint(100, size=100)
Np_100_elementos

array([32, 89, 74, 58, 81, 80, 88,  6, 24, 16, 54, 27, 73, 15,  8, 58, 49,
       15, 23, 71, 10,  1, 66,  7, 44, 12,  2, 51, 80, 44, 64,  7, 14, 43,
       87, 26, 41, 97, 27, 15, 57, 91, 69, 84, 53, 13, 98, 36, 81, 86, 12,
       63, 26, 26,  7, 23, 86, 57, 81, 86, 92, 57, 87, 96, 65, 30, 87, 94,
       92, 50, 68, 42, 28, 51, 24, 45,  9, 54, 17, 52, 29,  4, 15, 38, 43,
        4, 73, 49, 41, 62, 67, 80, 19, 34,  4, 80, 43, 99, 63, 80])

In [2]:
np.median(Np_100_elementos)

#Muy bien! Perfecto

49.5

Ejercicio 2

In [3]:
def Factorial(num):
  
  Np_numeros = np.array(range(1, num+1))
  
  if num < 0:
   raise TypeError("El factorial de un numero negativo no se puede calcular con esta función")
  else:
    Np_numeros.prod()
  return Np_numeros.prod()

print(Factorial(6))

720

In [4]:
def sumatoria(num1, num2):
  
  Np_numbers = np.array(range(num1, num2+1))
  
  if num2 < num1:
    raise ValueError("El fin no puede ser menor al inicio")
  else:
    Np_numbers.sum()
  return Np_numbers.sum()

print(sumatoria(1,100))

5050

Ejercicio 3

In [5]:
import pandas as pd
import numpy as np
import ast

def getArrayFromDrive():
    """La siguiente funcion obtiene el archivo en google Spreadsheet, lo transforma en un dataframe 
    y obtiene la columna a trabajar que es la columna de Salario mensual NETO y devuelve un numpy array luego 
    de haber borrado los valores nulos de la columna.
    
    """
    sheet_url = "https://docs.google.com/spreadsheets/d/15Stnum8mI9QdwF9ZiPFCe3_qG9XyZyNzmOSIDunzPjA/view#gid=255849258"
    url = sheet_url.replace("/view#gid=", "/export?format=csv&gid=")
    df = pd.read_csv(url)
    
    return pd.to_numeric(df["Salario mensual NETO (en tu moneda local)"],errors='coerce').dropna().to_numpy()

In [6]:
Np_salarios = np.array(getArrayFromDrive())
Np_salarios    
print("Salario Máximo")
print(Np_salarios.max())
print("")

def media_salarios(Np_salarios):
  Np_salarios.mean()
  return Np_salarios.mean()

print("Media Salarios")
print(media_salarios(Np_salarios))
print("")

def mediana_salarios(Np_salarios):
  np.median(Np_salarios)
  return(np.median(Np_salarios))

print("Mediana Salarios")
print(mediana_salarios(Np_salarios))

Salario Máximo
118192949302.0

Media Salarios
19306004.37798064

Mediana Salarios
76000.0

El problema es que hay un valor que rompe el tipo de dato. Acá compilé 3 soluciones posibles para este caso. Elegí una y procedé a calcular los valores que se piden
https://colab.research.google.com/drive/1xCqRw9MAgoJQ3XdGEAnidLAYbyooqEMo?usp=sharing