In [2]:
import numpy as np
import pandas as pd

In [3]:
df_Medallas = pd.read_csv('Data/Summer-Olympic-medals-1976-to-2008.csv', encoding = 'latin-1')
df_Medallas.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [4]:
Años_medallas = df_Medallas['Year']

Años_medallas_parse = pd.to_datetime(Años_medallas, format = '%Y')

Años_Medallas_Indice = pd.DatetimeIndex(Años_medallas_parse)

Serie_Atletas_Año = pd.Series(df_Medallas['Athlete'].values, index = Años_Medallas_Indice)
Serie_Atletas_Año

Year
1976-01-01             KÖHLER, Christa
1976-01-01         KOSENKOV, Aleksandr
1976-01-01        BOGGS, Philip George
1976-01-01    CAGNOTTO, Giorgio Franco
1976-01-01      WILSON, Deborah Keplar
                        ...
2008-01-01          GUENOT, Christophe
2008-01-01         KVIRKELIA, Manuchar
2008-01-01            RAHIMOV, Vitaliy
2008-01-01              GUENOT, Steeve
2008-01-01               LOPEZ, Mijain
Length: 15433, dtype: object

In [5]:
Nombres_separados = df_Medallas['Athlete'].str.split(",", n = 1, expand=True)
Nombres_separados.columns = ['Apellido', 'Nombre']
Nombres_separados

df_Medallas = pd.concat([df_Medallas, Nombres_separados], axis = 1)

df_Medallas

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Apellido,Nombre
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze,GUENOT,Christophe
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold,GUENOT,Steeve
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

In [6]:

Medallas_Pais = df_Medallas.groupby('Country')['Medal'].count()
Medallas_Pais.sort_values(ascending = False).head(1)

Country
United States    1992
Name: Medal, dtype: int64

In [10]:
Medallas_Genero = df_Medallas.groupby(['Gender', 'Year'])['Medal'].count()
Medallas_Genero

Gender  Year
Men     1976.0     924
        1980.0     958
        1984.0     973
        1988.0    1011
        1992.0    1105
        1996.0    1082
        2000.0    1126
        2004.0    1099
        2008.0    1110
Women   1976.0     381
        1980.0     429
        1984.0     486
        1988.0     535
        1992.0     600
        1996.0     777
        2000.0     889
        2004.0     899
        2008.0     932
Name: Medal, dtype: int64

In [11]:
Medallas_Genero.loc['Men',:]

Year
1976.0     924
1980.0     958
1984.0     973
1988.0    1011
1992.0    1105
1996.0    1082
2000.0    1126
2004.0    1099
2008.0    1110
Name: Medal, dtype: int64